<h1>Invoices</h1>
<table>
  <tr>
    <th>Invoice Id
    <th>Customer</th>  
  </tr>
  <%# @invoices.each do |invoice| %>
    <%#= render partial: 'invoice', locals: {invoice: invoice} %>
  <%# end %>

  <%#= render partial: :invoice, collection: @invoices %>

  <%#= render @invoices %>

  <%= render(@invoices) || "No Invoices" %>
  
</table>