<h2>Open Orders</h2>
<table>
  <tr>
    <th>Order Id</th>
    <th>Product
    <th>Price
    <th>Customer</th>  
  </tr>
  <%# @orders.each do |order| %>
    <%#= render partial: 'order', locals: {order: order} %>
  <%# end %>

   <%#= render partial: 'order', collection: @orders %>

   <%#= render @orders %>

   <%= render(@orders) || "No Orders" %>

</table>